<header class="header">
  <div class="content">
    <div class="hgroup">
      <h1>Parallax Effect</h1>
      <i>With blur and fixed menu</i>
    </div>
  </div>
  <div class="overlay"></div>
</header>
<section class="site">
  <nav>
    <a href="">Page</a>
    <a href="">Page</a>
    <a href="">Page</a>
    <a href="">Page</a>
    <a href="">Page</a>
  </nav>
  <blockquote>
    <img src="../../../assets/image/757z468_1531750544_elonmusk.jpg" align="left">
    <div class="quote">
      "When something is important enough, you do it even if the odds are not in your favor." ― Elon Musk
    </div>
  </blockquote>
</section>