.toolbar {
    font-family: 'Electrolize';
}

.logo {
    width: 40px;
    height: 40px;
    padding: 0 14px 0 0;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
  }

.menu-item {
    font-size: 12px;
}

.selected-value {
    margin: 15px 14px;
  }