
.center{
  width: 400px;
  margin: 10px auto;
  cursor: pointer;
  }
  
.main-div{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.title{
  font-family: 'Uncial Antiqua', cursive;
}

.footer{
  text-align: right;
}
