<div class="main-div">
<mat-card class="z-depth center" flex="50"  (click)="cardClick()">

  <mat-card-title class="title">
    electromancer
  </mat-card-title>
  <mat-card-subtitle>
    noun
  </mat-card-subtitle>

  <mat-card-content>
    “An elite technician or engineer who ponders heavy tomes in order to gain the sacred knowledge of electronics. Bending the
    smallest particles of matter en mass to do his dark bidding is the mark of his wizardry.”
    <p></p>
    <p class="footer">-Urban Dictionary</p>
  </mat-card-content>

</mat-card>
</div>