<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row >
    <img src="/assets/svg/logo.svg" class="logo">
    <span>Electromancers</span>
    <div class="selected-value" value="Home">{{group.value}}</div>
    <span class="spacer"></span>
    <mat-button-toggle-group color="accent" #group="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="Wave" routerLink="">
        Wave
      </mat-button-toggle>
      <mat-button-toggle value="Services">
        Services
      </mat-button-toggle>
      <mat-button-toggle value="About" [routerLink]="[{ outlets: { home: ['sub'] } }]">
        About
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet name='sub'></router-outlet>